.colorChange {
  animation: changeBg 20s linear infinite;
}
@keyframes changeBg {
  0% {
    background-color: red;
  }
  10% {
    background-color: orangered;
  }
  20% {
    background-color: orange;
  }
  30% {
    background-color: yellow;
  }
  40% {
    background-color: yellowgreen;
  }
  50% {
    background-color: green;
  }
  60% {
    background-color: gray;
  }
  70% {
    background-color: lightgray;
  }
  80% {
    background-color: pink;
  }
  90% {
    background-color: red;
  }
  100% {
    background-color: red;
  }
}
